@charset "UTF-8";
@font-face {
    font-family: "RIDIBatang";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
.pt_16{ padding-top: 16px; }
.pt_50{ padding-top: 50px; }
.mt_50{ margin-top: 50px; }

.about_us .containner {
    position: relative;
}
.channel {
    display: flex;
}
.channel li {
    color: #777;
    line-height: 1.5;
}
.title{
    text-align: center;
}
.about_us img.ab-visual {
    max-width: 1920px;
    width: 100%;
    max-height: 557px;
    height: 100%;
    object-fit: cover;
}
.about_us .text_box {
    max-width: 916px;
    width: 100%;
    height: 1028px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.about_us ul.text_inner {
    border: 1px solid #EBEBEB;
    box-shadow: 0 0px 19px 6px #9e9e9e2b;
    text-align: center;
    padding: 6% 7%;
    background: #fff;
}
.about_us .text_inner_h4 {
    width: 298px;
    height: 42px;
    background-color: #0A387C;
    color: #fff;
    font-size: 30px;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.4;
    margin: 0 auto;
}
.about_us .text_box p.text {
    color: #222;
    font-family: "RIDIBatang";
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.32px;
}
footer {
    margin-top: 1028px;
}

@media (max-width: 613px) {
    .about_us .text_box {
        position: inherit;
    }
    footer {
        margin-top: 10%;
    }
}
@media (max-width: 542px) {
    footer {
        margin-top: 40%;
    }
}
@media (max-width: 469px) {
    footer {
        margin-top: 370px;
    }
}
@media (max-width: 430px) {
    span.br {
        display: block;
    }
}
@media (max-width: 360px) {
    footer {
        margin-top: 400px;
    }
}