.space_mob {
    display: none;
}
fieldset {
    width: 100%;
    overflow: hidden;
    border: none;
    margin-top: 32px;
}
h4.list-title{
    width: 100%;
    overflow: hidden;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
}
h4.list-title > span {
    margin-top: 6px;
}
input {
    width: 100%;
    height: 34px;
    margin-left: 10px;
    padding: 8px 16px;
    line-height: normal !important;
    border: 1px solid #BABABA;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/*목록 타이틀 및 목록*/
.input-container{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
/* 목록 */
.list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.list:not(:last-child){
    border-bottom: 1px solid #ACC7D4;
}
.list .item-title {
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0EBF0;
}
.sub-wrap {
    flex: 1;
}
.sub-wrap .sub-box {
    width: 100%;
    box-sizing: border-box;
}
/* item01 */
.item01 > .item-title {
    flex: 0 0 300px;
    padding: 16px 10px;
    border-right: 1px solid #ACC7D4;
}
.item01 > ul {
    padding: 0 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: flex-start;
}
.item01 > ul li label{
    cursor: pointer;
    font-size: 18px;
}
.item01 input[type='radio'] {
    padding: 0;
    background: #F2F2F2;
    border-color: #C5C5C5;
}
.item01 input[type='radio']:checked {
    background: #004BBA;
    border-color: #fff;
}
/* item02 */
.item02 > .item-title, .item04 > .item-title {
    flex: 0 0 150px;
}
.item02 .sub-box {
    flex: 1;
    display: flex;
    align-items: stretch;
}
.item02 .sub-box > span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    background: #EFF5F7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #ACC7D4;
    border-top: none;
}
.item02 .sub-box:nth-child(2) > span {
    border-bottom: none;
}
.item02 .sub-box .input-box {
    flex: 1;
}
.item02 .sub-box label {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-bottom: 1px solid #ACC7D4;
}
.item02 .sub-box:last-child label:last-child {
    border-bottom: none;
}
.item02 .sub-box label span {
    display: inline-block;
    flex: none;
}
/* item03 */
.list.item03 {
    align-items: center;
}
.item03 .item-title {
    padding: 16px 10px;
    flex: 0 0 300px;
    border-right: 1px solid #ACC7D4;
}
.item03 label {
    flex: 1;
    padding: 0 16px;
}
.item03 input {
    margin-left: 0;
}
/* item04 */
.item04 .sub-box{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item04 .sub-box span {
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    background: #EFF5F7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    border: 1px solid #ACC7D4;
    border-top: none;
}
.item04 .sub-box:last-child label span {
    border-bottom: none;
}
.item04 .sub-box label {
    flex: 1;
    padding: 0 16px;
}
.item04 .sub-box label input {
    margin: 0;
}


/* resize */
@media (max-width: 974px) {
    .item01 > .item-title {
        flex: 0 0 240px;
    }
    .item02 > .item-title, .item04 > .item-title {
        flex: 0 0 120px;
    }
    .item02 .sub-box > span {
        flex:  0 0 120px;
    }
    .item03 .item-title {
        flex: 0 0 240px;
    }
    .item04 .sub-box span {
        flex:  0 120px;
    }
    .space_mob {
        display: block;
    }
}
@media (max-width: 767px) {
    .list {
        display: block;
    }
    .item01 > .item-title {
        border-right: none;
    }
    .item01 > ul {
        padding: 16px 10px;
        gap: 0.6vw;
    }
    .item02 > .item-title, .item04 > .item-title {
        padding: 16px 0;
    }
    .item03 label {
        display: block;
        margin: 14px 0;
        width: 100% !important;
    }
    .space_mob {
        display: none;
    }
    /* border 스타일 */
    .item01 > ul {
        border-top: 1px solid #ACC7D4;
    }
    .item02 .sub-box > span {
        border-right: none;
        border-left: none;
    }
    .item02 .sub-box .input-box {
        border-left: 1px solid #ACC7D4;
    }
    .item03 .item-title {
        border-right: none;
        border-bottom: 1px solid #ACC7D4;
    }
    .sub-wrap {
        border-top: 1px solid #ACC7D4;
    }
    .item04 .sub-box label span {
        border-left: none;
    }
}
@media (max-width: 546px) {
    .item02 .sub-box {
        display: block;
    }
    .item02 .sub-box .input-box {
        border-left: none;
    }
    .item02 .sub-box > span {
        padding: 4px 0;
    }
    .item02 .sub-box:nth-child(2) > span {
        border-bottom: 1px solid #ACC7D4;
    }
    .item04 .sub-box {
        display: block;
    }
    .item04 .sub-box label {
        display: block;
        width: 100%;
        padding: 14px 16px;
    }
    .item04 .sub-box span {
        padding: 4px 0;
        border-left: none;
        border-right: none;
    }
    .item04 .sub-box:not(:first-child) span {
        border-top: 1px solid #ACC7D4;
    }
    .pc_space {
        display: none;
    }
}
@media (max-width: 482px) {
    input {
        font-size: 15px !important;
    }
    legend.step {
        font-size: 22px;
    }
    .list .item-title {
        font-size: 16px;
    }
    .item01 > ul {
        gap: 0;
    }
    .item01 > ul li label {
        font-size: 15px;
    }
    .item02 .sub-box > span {
        font-size: 15px;
    }
    .item02 .sub-box label span {
        font-size: 15px;
    }
    .item04 .sub-box span {
        font-size: 15px;
    }
    input {
        padding: 8px;
    }
}