fieldset {
    width: 100%;
    overflow: hidden;
    border: none;
    margin-top: 32px;
}
h4.list-title{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
}
h4.list-title > span {
    display: block;
    float: left;
    margin-top: 6px;
}
input {
    width: 90%;
    height: 34px; 
    margin: 0 auto;
    padding: 8px 16px;
    line-height: normal !important;
    box-sizing: border-box;
    border: 1px solid #BABABA;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
button.add-field {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
button.add-field > span {
    display: inline-block;
    color: #777;
}
/*목록 타이틀 및 목록*/
.input-wrap .out-box {
    margin-bottom: 70px;
}
.item-title , .input-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    box-sizing: border-box;
    gap: 0;
}
.item-title  {
    align-items: center;
    border-top: 1px solid #ACC7D4;
    border-right: 1px solid #ACC7D4;
    font-size: 18px;
    font-weight: 500;
    background: #E0EBF0;
}
.item {
    padding: 8px 0;
    box-sizing: border-box;
    border-left: 1px solid #ACC7D4;
}
span.br {
    display: block;
    margin-top: -8px;
}
/* 목록 */
.item-title .item {
    border-bottom: 1px solid #ACC7D4;
}
.list_box .list {
    border-top: none;
}
.input-container label{
    display: flex;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    border-right: none;
}
.input-container span.mob-title {
    display: none;
}
/* 각 항목에 대해 비율을 다르게 설정 */
.delete-item {
    flex: 0.31;
}
.item01 {
    border-right: none;
}
.item02 {
    border-right: 1px solid #ACC7D4;
}
.item03 { 
    border-left: none;
}
.item04 {
    border-right: none;
}
.item05 {
    border-right: none;
}
.item06 {
    border-right: none;
}
/* 학력사항 */
.out-box01 .item01 {
    flex: 2;
}
.list_box .item01 {
    border-bottom: none;
    border-top: none;
}
.out-box01 .item02 {
    flex: 1;
    border-right: 1px solid #ACC7D4;
}

.out-box01 .item03 {
    flex: 1; 
}

.out-box01 .item04 {
    flex: 0.5;
}

.out-box01 .item05 {
    flex: 0.5;
}
/* 외국어능력 */
.ft-400 {
    font-weight: 400;
    font-size: 16px;
}
.out-box02 .item-title {
    border-left: 1px solid #ACC7D4;
    align-items: stretch;
    justify-content: center;
}
.out-box02 .item-title .item {
    padding: 0;
    line-height: 160%;
}
.out-box02 .item-title .item:not(.item02) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.out-box02 .item-title .item01 {
    border-left: none;
}
.out-box02 .item > span {
    display: block;
    padding: 6px 0;
    line-height: 120%;
}
.out-box02 .item01 {
    flex: 1;
    border-bottom: 1px solid #ACC7D4;
}
.out-box02 .item02 {
    flex: 2.5;
    border-right: 1px solid #ACC7D4;
}
.out-box02 .item03 {
    flex: 1; 
}
.out-box02 .item04 {
    flex: 0.8;
}
.item02-sub-title {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid #ACC7D4;
}
.item02-sub-title li {
    flex: 1;
    padding: 14px 0;
}
.item02-sub-title li:not(:last-child) {
    border-right: 1px solid #ACC7D4;
}
.out-box02 .select {
    display: flex;
    align-items: center;
}
.out-box02 .select li {
    flex: 1;
    padding: 10px 8px;
}
.out-box02 .select li:not(:last-child) {
    border-right: 1px solid #ACC7D4;
}
.out-box02 .select li select {
    width: 100%;
    padding: 6px 16px;
    border: 1px solid #BABABA;
    border-radius: 8px;
    font-size: 16px;
}
.out-box02 label {
    padding: 0;
}
/* 경력사항 */
.out-box03 .item01 {
    flex: 1;
    border-bottom: 1px solid #ACC7D4;
}
.out-box03 .item02 {
    flex: 2;
}
.out-box03 .item02:not(.item-title .item02){
    border-bottom: none;
}
.out-box03 .item03 {
    flex: 0.5; 
}
.out-box03 .item04 {
    flex: 1;
}
.out-box03 .item05 {
    flex: 0.5;
}
/* 전문기술・자격증 */
.out-box04 .item01 {
    flex: 1;
    border-bottom: 1px solid #ACC7D4;
}
.out-box04 .item02 {
    flex: 1; 
}
.out-box04 .item02:not(.item-title .item02) {
    border-bottom: none;
}
.out-box04 .item03 {
    flex: 1; 
}
.out-box04 .item04 {
    flex: 1.2;
}
.out-box04 .list .calendar-wrap {
    display: flexbox;
    flex: 1;
}
.out-box04 .calendar-wrap:first-child::after {
    content: none !important;
}
.out-box04 .calendar-wrap input {
    width: 75%;
}
.out-box04 .item04 .radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
input[type='radio'] {
    appearance: radio;
    -webkit-appearance: radio; 
    -moz-appearance: radio; 
    margin: 0;
    margin-right: 8px;
    padding: 0;
}
/* 병역 */
.out-box05 .list_box .item01 {
    border-bottom: 1px solid #ACC7D4;
}
.out-box05 .item01 {
    flex: 0.5;
}
.out-box05 .item02 {
    flex: 0.5;
    border-right: 1px solid #ACC7D4;
}
.out-box05 .item03 {
    flex: 0.5;
}
.out-box05 .item04 {
    flex: 2;
}
.out-box05 .list_box .item04 {
    border-bottom: none;
}
.out-box05 .item05 {
    flex: 1;
}
.out-box05 .item06 {
    flex: 0.5;
}


/* 달력 */
.list .calendar-area {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ACC7D4;
}
.list .calendar-wrap  {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}
.list .calendar-wrap:first-child::after {
    content: ' - ';
    position: absolute;
    right: -2%;
    color: #222;
}
.calendar-wrap input {
    width: 72%;
    margin: 0;
}
.calendar-wrap img {
    margin-right: 8px;
}
.calendar-wrap input::-webkit-calendar-picker-indicator, .list.item03 input::-webkit-inner-spin-button {  
    opacity: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 5%;
}
/* 삭제 버튼 */
.list.item06 {
    display: flex;
    align-items: center;
    justify-content: center;
}
button.delete { /* 추가되는 칸부터 생기는 삭제 스타일 */
    padding: 2px 4px;
    font-size: 16px;
    border: 1px solid #FF9393;
    color: #EF2626 !important;
    border-radius: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
button.delete > span{
    color: #EF2626;
}
button.n-delete {
    display: none;
}
/* 두 번째 박스 ~ */
.add-box label, .add-box .list.item06{
    border-top: none;
}
.no-border-top {
    border-top: none !important;
}

/* resize */
@media (max-width: 976px) {
    input {
        width: calc(100% - 20px);
        margin: 10px 0;
    }
    /* 목록 타이틀 */
    .item-title {
        display: none;
    }
    .input-container span.mob-title {
        display: block;
        padding: 6px 0;
        font-size: 18px;
        font-weight: 500;
        background: #E0EBF0;
        border-bottom: 1px solid #ACC7D4;
    }
    /* 목록 공통 */
    .input-container {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid #ACC7D4;
        position: relative;
    }
    .input-container label {
        display: block;
        padding: 0;
    }
    /* 학력사항 */
    .out-box01 .list:not(.out-box01 .item01) {
        width: 50%;
        padding: 0;
        float: left;
    }
    /* 외국어능력 */
    .out-box02 .input-container span.mob-title {
        padding-top: 6px;
        padding-bottom: 0;
        line-height: 140%;
    }
    .out-box02 .input-container .item01 span.mob-title ,
    .out-box02 .input-container .item03 span.mob-title ,
    .out-box02 .input-container .item04 span.mob-title {
        padding-bottom: 6px;
    }
    .out-box02 .input-container .item03 span.mob-title ,
    .out-box02 .input-container .item04 span.mob-title {
        border-top: 1px solid #ACC7D4;
    }

    .out-box02 .list_box .mob-sub-title {
        display: flex;
        margin-top: 6px;
        justify-content: space-around;
        align-items: center;
    }
    .out-box02 .list_box .mob-sub-title li {
        width: 100%;
        padding: 6px 0;
    }
    .out-box02 .list_box .mob-sub-title li:not(:last-child) {
        border-right: 1px solid #ACC7D4;
    }
    .out-box02 .item03 , .out-box02 .item04 {
        width: 50%;
        float: left;
    }
    /* 경력사항 */
    .out-box03 .item01 , .out-box03 .item03 {
        width: 30%;
        float: left;
    }
    .out-box03 .item02 , .out-box03 .item04{
        width: 70%;
        float: left;
    }
    .out-box03 .item05 {
        clear: both;
    }
    /* 전문기술・자격증 */
    .out-box04 .list {
        width: 50%;
        float: left;
    }
    .out-box04 .list .calendar-wrap {
        width: 100%;
    }
    .out-box04 .item04 .radio-container {
        padding: 15px 0;
        transform: none;
    }
    .out-box04 .item04 .radio-container {
        gap: 30px;
    }
    /* 병역 */
    .out-box05 .item01, .out-box05 .item02, .out-box05 .item03 {
        width: calc(100% / 3);
        float: left;
    }
    .out-box05 .item04 {
        clear: both;
    }
    .out-box05 .item05 , .out-box05 .item06 {
        width: 50%;
        float: left;
    }
    .out-box05 .item06 {
        display: block !important;
    }
    /* 달력 */
    .list .calendar-area {
        padding: 10px 0;
    }
    .calendar-wrap input::-webkit-calendar-picker-indicator, .list input::-webkit-inner-spin-button {  
        left: 1.5%;
    }
    .list .calendar-wrap:first-child::after {
        right: -1%;
    }
    .calendar-wrap input {
        width: calc(100% - 50px) !important;
    }
    /* 삭제 버튼 */
    .delete-item {
        width: fit-content !important;
        border: none !important;
        position: absolute;
        top: 0px;
        right: 0;
    }
    .delete-item button {
        position: static;
        transform: none;
    }
    /* border 스타일 */
    .list_box .list:not(.delete-item) {
        border: none;
        border-left: 1px solid #ACC7D4 !important;
    }
    .out-box01 .item01 , .out-box02 .item01 ,
    .out-box02 .item02 , .out-box02 .list_box .mob-sub-title ,
    .out-box03 .item01 , .out-box03 .item02 , 
    .out-box03 .item03 , .out-box03 .item05 ,
    .out-box04 .item01 , .out-box04 .item02 , .out-box04 .item03 ,
    .out-box05 .item01 , .out-box05 .item02 , 
    .out-box05 .item03 , .out-box05 .item04 {
        border-top: 1px solid #ACC7D4 !important;
    }
    .out-box01 .item01 , .out-box02 .item01 ,
    .out-box01 .item03 , .out-box01 .item05 , 
    .out-box02 .item02 , .out-box02 .item04 ,
    .out-box03 .item02 , .out-box03 .item04 , .out-box03 .item05 ,
    .out-box04 .item02 , .out-box04 .item04 , 
    .out-box05 .item03 , .out-box05 .item04 , .out-box05 .item06 {
        border-right: 1px solid #ACC7D4 !important;
    }
}
@media (max-width: 767px) {
    /* 경력사항 */
    .out-box03 .item01 , .out-box03 .item02{
        width: 100%;
    }
    /* 모바일 버튼 스타일 */
    button.delete {
        padding: 9px;
    }
    button.delete > span{
        display: block;
        width: 12px;
        height: 3px;
        background: #EF2626;
        text-indent: -9999px;
    }
}
@media (max-width: 482px) {
    input {
        padding: 8px;
        font-size: 15px;
    }
    legend.step {
        font-size: 22px;
    }
    /* 외국어 능력 */
    .out-box02 .select li select {
        padding: 8px;
    }
    /* 전문기술・자격증 */
    .out-box04 .list.item01 , .out-box04 .list.item02 {
        width: 100%;
    }
    /* bordee 스타일 */
    .out-box04 .item03 {
        border-top: none !important;
    }
    /* 폰트 사이즈 */
    .input-container span.mob-title {
        font-size: 15px;
    }
    .out-box02 .select li select {
        font-size: 15px;
    }
}