
details {
    max-width: 1130px;
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 50px;
    margin: 50px 0;
}
summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 40px;
    font-size: 30px;
    justify-content: center;
    font-weight: 600;
}
summary::-webkit-details-marker {
    display: none;
}
/* 접기/펼치기 이미지 아이콘 */ 
summary .toggle-icon {
    width: 20px; /* 아이콘 크기 */
    height: 20px;
    background-size: contain; /* 이미지가 비율에 맞게 조정 */
    background-repeat: no-repeat;
    position: absolute;
    right: 10px; /* 오른쪽 끝으로 위치 */
    transition: transform 0.3s ease;
    background-image: url('../img/home/form-toggle1.png'); /* 펼쳤을 때 사용할 이미지 */
}
/* 펼쳤을 때 이미지 변경 */
details[open] summary .toggle-icon {
    background-image: url('../img/home/form-toggle1.png'); /* 접었을 때 사용할 이미지 */
    transform: rotate(180deg); /* 기호 회전 효과 */
}

details .text-wrap {

}
details .text-wrap p{
    margin-bottom: 35px;
}
details .text-wrap  ul{
    border-top: 1px solid #ddd;
    padding-top: 32px;
    width: fit-content;
    margin: auto;
}
details .text-wrap h4{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
details p {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
