fieldset {
    border: none;
    margin-top: 32px;
}
h4.list-title{
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}
h4.list-title span {
    display: block;
    float: left;
    margin-top: 6px;
}
button.add-field {
    float: right;
}