.red { color: #DF2A2A; font-size: 14px; }
.gray_btn { border: 1px solid #D1D1D1; border-radius: 3px;background-color: #F7F7F8; color: #222; padding: 3px 10px; }
form {

}








div.inner-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* gap: 0; */
    border: 1px solid #ACC7D4;
    background: #E0EBF0;
}
/* 왼쪽 공통스타일 */
label.ad_left, label.blue-box {
    flex: 0 0 180px;
    background: #E0EBF0;
    text-align: center; 
    color: #222;
    font-weight: 600;
    padding: 14px;
    font-size: 18px;
    /* display: block; */
}
label.blue-box-inner {
    flex: 0 0 100px;
    background: #EFF5F7;
    text-align: center; 
    color: #222;
    font-weight: 600;
    padding: 14px 5px;
    font-size: 16px;
    box-sizing: border-box;
}
/* 입력칸 공통스타일 */
div.top_left>div>div, div.top_right>div>div, div.bottom>div>div, div.ad_right, .tl_inner>div{
    flex: 1;
    padding: 14px;
    font-size: 18px;
    background: #fff;
}
/* 상단 */
.top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.top_left, .top_right {
    width: 50%;
}

/* 1. */
div.inner-contain-box {
    padding: 0 !important;
}
.tl_inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: yellow;
}
.tl_inner>div {
    width: 100%;
}
.name {
    /* height: 20vh !important; */
}
/* 3. 하단 */
.ad_left {
    /* height: 116px; */
}