/* 5단계 */
main.form_05 div.item04 .space_mob {
    display: none;
}
main.form_05 #form05 fieldset {
    width: 100%;
    overflow: hidden;
    border: none;
    margin-top: 32px;
}
main.form_05 #form05 h4.list-title{
    width: 100%;
    overflow: hidden;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
}
main.form_05 #form05 h4.list-title > span {
    margin-top: 6px;
}
main.form_05 #form05 input {
    width: 100%;
    height: 34px;
    margin-left: 10px;
    padding: 8px 16px;
    line-height: normal !important;
    border: 1px solid #BABABA;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/*목록 타이틀 및 목록*/
main.form_05 #form05 .input-container{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
/* 목록 */
main.form_05 #form05 .list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
main.form_05 #form05 .list:not(:last-child){
    border-bottom: 1px solid #ACC7D4;
}
main.form_05 #form05 .list .item-title {
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0EBF0;
}
main.form_05 #form05 .sub-wrap {
    flex: 1;
}
main.form_05 #form05 .sub-wrap .sub-box {
    width: 100%;
    box-sizing: border-box;
}
/* item01 */
main.form_05 #form05 .item01 > .item-title {
    flex: 0 0 300px;
    padding: 16px 10px;
    border-right: 1px solid #ACC7D4;
}
main.form_05 #form05 .item01 > ul {
    padding: 0 10px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: flex-start;
}
main.form_05 #form05 .item01 > ul li label{
    cursor: pointer;
    font-size: 18px;
}
main.form_05 #form05 .item01 input[type='radio'] {
    padding: 0;
    background: #F2F2F2;
    border-color: #C5C5C5;
}
main.form_05 #form05 .item01 input[type='radio']:checked {
    background: #004BBA;
    border-color: #fff;
}
/* item02 */
main.form_05 #form05 .item02 > .item-title, .item04 > .item-title {
    flex: 0 0 150px;
}
main.form_05 #form05 .item02 .sub-box {
    flex: 1;
    display: flex;
    align-items: stretch;
}
main.form_05 #form05 .item02 .sub-box > span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    background: #EFF5F7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #ACC7D4;
    border-top: none;
}
main.form_05 #form05 .item02 .sub-box:nth-child(2) > span {
    border-bottom: none;
}
main.form_05 #form05 .item02 .sub-box .input-box {
    flex: 1;
}
main.form_05 #form05 .item02 .sub-box label {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-bottom: 1px solid #ACC7D4;
}
main.form_05 #form05 .item02 .sub-box:last-child label:last-child {
    border-bottom: none;
}
main.form_05 #form05 .item02 .sub-box label span {
    display: inline-block;
    flex: none;
}
/* item03 */
main.form_05 #form05 .list.item03 {
    align-items: center;
}
main.form_05 #form05 .item03 .item-title {
    padding: 16px 10px;
    flex: 0 0 300px;
    border-right: 1px solid #ACC7D4;
}
main.form_05 #form05 .item03 label {
    flex: 1;
    padding: 0 16px;
}
main.form_05 #form05 .item03 input {
    margin-left: 0;
}
/* item04 */
main.form_05 #form05 .item04 .sub-box{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main.form_05 #form05 .item04 .sub-box span {
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 150px;
    background: #EFF5F7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    border: 1px solid #ACC7D4;
    border-top: none;
}
main.form_05 #form05 .item04 .sub-box:last-child span {
    border-bottom: none;
}
main.form_05 #form05 .item04 .sub-box:last-child label span {
    border-bottom: none;
}
main.form_05 #form05 .item04 .sub-box label {
    flex: 1;
    padding: 0 16px;
}
main.form_05 #form05 .item04 .sub-box label input {
    margin: 0;
}


/* resize */
@media (max-width: 974px) {
    main.form_05 #form05 .item01 > .item-title {
        flex: 0 0 240px;
    }
    main.form_05 #form05 .item02 > .item-title, .item04 > .item-title {
        flex: 0 0 120px;
    }
    main.form_05 #form05 .item02 .sub-box > span {
        flex:  0 0 120px;
    }
    main.form_05 #form05 .item03 .item-title {
        flex: 0 0 240px;
    }
    main.form_05 #form05 .item04 .sub-box span {
        flex:  0 120px;
    }
    main.form_05 #form05 .space_mob {
        display: block;
    }
}
@media (max-width: 767px) {
    main.form_05 #form05 .list {
        display: block;
    }
    main.form_05 #form05 .item01 > .item-title {
        border-right: none;
    }
    main.form_05 #form05 .item01 > ul {
        justify-content: space-around;
        padding: 16px 10px;
        gap: 0.6vw;
    }
    main.form_05 #form05 .item02 > .item-title, .item04 > .item-title {
        padding: 16px 0;
    }
    main.form_05 #form05 .item03 label {
        display: block;
        margin: 14px 0;
        width: 100% !important;
    }
    main.form_05 #form05 .space_mob {
        display: none;
    }
    /* border 스타일 */
    main.form_05 #form05 .item01 > ul {
        border-top: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .item02 .sub-box > span {
        border-right: none;
        border-left: none;
    }
    main.form_05 #form05 .item02 .sub-box .input-box {
        border-left: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .item03 .item-title {
        border-right: none;
        border-bottom: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .sub-wrap {
        border-top: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .item04 .sub-box label span {
        border-left: none;
    }
    main.form_05 #form05 .item04 .sub-box span {
        border-left: none;
    }
}
@media (max-width: 546px) {
    main.form_05 #form05 .item02 .sub-box {
        display: block;
    }
    main.form_05 #form05 .item02 .sub-box .input-box {
        border-left: none;
    }
    main.form_05 #form05 .item02 .sub-box > span {
        padding: 4px 0;
    }
    main.form_05 #form05 .item02 .sub-box:nth-child(2) > span {
        border-bottom: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .item04 .sub-box {
        display: block;
    }
    main.form_05 #form05 .item04 .sub-box label {
        display: block;
        width: 100%;
        padding: 14px 16px;
    }
    main.form_05 #form05 .item04 .sub-box span {
        padding: 4px 0;
        border-left: none;
        border-right: none;
    }
    main.form_05 #form05 .item04 .sub-box:not(:first-child) span {
        border-top: 1px solid #ACC7D4;
    }
    main.form_05 #form05 .pc_space {
        display: none;
    }
}
@media (max-width: 482px) {
    main.form_05 #form05 input {
        font-size: 15px !important;
    }
    main.form_05 #form05 legend.step {
        font-size: 22px;
    }
    main.form_05 #form05 .list .item-title {
        font-size: 16px;
    }
    main.form_05 #form05 .item01 > ul {
        gap: 0;
        justify-content: space-evenly;
    }
    main.form_05 #form05 input[type='radio'] {
        margin-right: 2px;
    }
    main.form_05 #form05 .item01 > ul li label {
        font-size: 15px;
    }
    main.form_05 #form05 .item02 .sub-box > span {
        font-size: 15px;
    }
    main.form_05 #form05 .item02 .sub-box label span {
        font-size: 15px;
    }
    main.form_05 #form05 .item04 .sub-box span {
        font-size: 15px;
    }
    main.form_05 #form05 input {
        padding: 8px;
    }
}
/* 6단계 */
main.form #form06 br.space_m {
    display: none;
}
main.form #form06 fieldset {
    width: 100%;
    overflow: hidden;
    border: none;
    margin-top: 32px;
}
main.form #form06 h4.list-title{
    width: 100%;
    overflow: hidden;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 700;
}
main.form #form06 h4.list-title > span {
    margin-top: 6px;
}
main.form #form06 input {
    width: 100%;
    height: 34px;
    margin: 0 10px;
    padding: 8px 16px;
    line-height: normal !important;
    border: 1px solid #BABABA;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
/*목록 타이틀 및 목록*/
main.form #form06 .input-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: 0;
}
/* 목록 */
main.form #form06 .list_box:not(:first-of-type) {
    margin-top: 30px;
}
main.form #form06 label.list {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-top: none;
    font-size: 18px;
}
main.form #form06 label.list > span {
    flex: 0 0 210px;
    padding: 12px 0;
    box-sizing: border-box;
    background: #E0EBF0;
    font-size: 18px;
    font-weight: 500;
    border-right: 1px solid #ACC7D4;
}
main.form #form06 .item01 , .item02 {
    border-bottom: 1px solid #ACC7D4;
}
main.form #form06 .item01 , .item03 {
    border-right: 1px solid #ACC7D4;
} 
/* resize */
@media (max-width: 1014px) {
    main.form #form06 label.list > span {
        flex: 0 0 160px;
    }
}
@media (max-width: 767px) {
    main.form #form06 br.space_m {
        display: block;
    }
    main.form #form06 .item03 , .item04 {
        flex: 1 1 100% !important;
    }
    main.form #form06 .item03 {
        border-right: none;
        border-bottom: 1px solid #ACC7D4;
    }
    main.form #form06 label.list > span {
        flex: 0 0 110px;
        padding: 12px 6px;
        line-height: 22px;
    }
}
@media (max-width: 482px) {
    main.form #form06 input {
        font-size: 15px;
        padding: 8px;
    }
    main.form #form06 legend.step {
        font-size: 22px;
    }
    main.form #form06 label.list > span {
        flex: 0 0 70px;
        padding: 12px 0;
        font-size: 15px;
    }
}


/*9단계 신청서 영역*/
main.form_09 input {
    border: 1px solid #BABABA;
    font-size: 16px;
}
main.form_09 form {
    width: 100%;
    margin: 0 auto;
    color: #222;
}
/*인풋 박스 및 캡션 초기값*/
main.form_09 input::placeholder {
    color: #777;
}
main.form_09 input:focus {
    outline: none;
}
main.form_09 span.caption {
    display: block;
    font-weight: 400 !important;
    color: #777;
    margin-top: -4px;
    margin-bottom: 8px;
}
main.form_09 .caption.m-top {
    display: block;
    margin-top: 8px;
}
main.form_09 .caption.minus-top {
    display: block;
    margin-top: -12px;
}
main.form_09 .inline-cap {
    display: inline-block;
}


/*전체 문항 스타일*/
main.form_09 fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 42px; 
}
main.form_09 fieldset legend {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #222;
    position: relative;
}
main.form_09 fieldset legend span.foldBtn {
    padding: 7px 6px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #eee;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
}
main.form_09 .input-wrap {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border: 1px solid #ddd;
}
main.form_09 .input-wrap  .step-n {
    width: 100%;
    margin-bottom: 34px;
}
main.form_09 .step-n label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}
main.form_09 .step-n textarea {
    display: block;
    width: 100%;
    height: 94px;
    margin-top: 8px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;
    border: 1px solid #B1B1B1;
    resize: none;
}
main.form_09 .step-n textarea:focus {
    outline: none;
    height: 200px;
    text-overflow: scroll;
}
main.form_09 .step-n span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}


/* 공통 클래스 스타일 */
main.form_09 .mult-q div input {
    flex: 1;
    padding: 6px 16px;
    border-radius: 8px;
}
main.form_09 .mult-q {
    margin: 40px 0;
}
main.form_09 .mult-q span {
    display: block;
    margin-bottom: 8px;
}
main.form_09 .mult-q div {
    margin-bottom: 34px;
}
main.form_09 .mult-q div:first-child {
    margin-top: 16px;
}
main.form_09 .en-list {
    margin-bottom: 8px;
}
main.form_09 .en-list span {
    display: block;
}
main.form_09 .check > span {
    float: left;
    margin-right: 16px;
}
main.form_09 .step-n .checkBox {
    width: 145px;
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}
main.form_09 .step-n .checkBox label {
    margin: 0;
    font-weight: 400;
}
main.form_09 .step-n .checkBox input::before {
    content: '/';
    width: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-50%);
    color: #777;
    font-weight: 200;
}
main.form_09 .check > label:first-child {
    margin-top: 16px;
}

/*문항 개별 스타일*/
main.form_09 .n1-sub04 div {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
main.form_09 .n1-sub05 label, .n1-sub06 label, .n1-sub07 label{
    margin-bottom: 12px;
}
/*n3*/
main.form_09 .n3-sub04 span {
    margin-top: 8px;
}

/*7단계, 8단계 신청서 영역*/
main.form_09 #form07 .input-wrap {
    border: none; 
    padding: 16px 0;
}
main.form_09 #form07 .step-n label {
    color: #00A8D3;
}
main.form_09 #form07 .step-n label span {
    display: contents;
}
main.form_09 #form07 .step-n textarea {
    height: 150px;
}
main.form_09 #form07 .step-n textarea:focus {
    height: 300px;
}
main.form_09 #form08 .input-wrap {
    border: none; 
    padding: 16px 0;
}
main.form_09 #form08 .step-n label {
    color: #00A8D3;
}
main.form_09 #form08 .step-n textarea {
    height: 150px;
}
main.form_09 #form08 .step-n textarea:focus {
    height: 300px;
}


/*resize*/
@media (max-width: 482px) {
    main.form_09 fieldset legend {
        font-size: 22px;
    }
    main.form_09 .step-n label {
        font-size: 15px;
    }
    main.form_09 .step-n span {
        font-size: 15px;
    }
    main.form_09 .step-n textarea {
        font-size: 15px;
    }
}