fieldset {
    border: none;
    margin-top: 32px;
}
h4.list-title{
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
    background: lightblue;
}
h4.list-title span {
    display: block;
    float: left;
    margin-top: 6px;
}
button.add-field {
    float: right;
}
/*목록 타이틀*/
.item-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: lightgoldenrodyellow;
    text-align: center;
    gap: 0;
}
.item {
    box-sizing: border-box;
    border: 1px solid #ccc;
}
/* 각 항목에 대해 비율을 다르게 설정 */
.item01 {
    flex: 2;
}

.item02 {
    flex: 3; 
}

.item03 {
    flex: 1; 
}

.item04 {
    flex: 2;
}

.item05 {
    flex: 1;
}

.item06 {
    flex: 1; 
}

.item07 {
    flex: 2; 
}

.item08 {
    flex: 1; 
}

.item09 {
    flex: 1; 
}

.item10 {
    flex: 1; 
}