@use "common";
@use "font";

.inner {
    width: 100%;
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba($color: #000000, $alpha: 0.2);

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100%;
            max-width: 137px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav {
            .gnb {
                display: flex;
                gap: 40px;
                height: 80px;
                align-items: center;
            }
            .gnb-item {
                a {
                    color: #fff;
                    font-family: 'Pretendard-SemiBold';
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    transition: all 300ms;
                }

                &:hover {
                    a {
                        color: #E5FF00;
                        font-family: 'Pretendard-ExtraBold';
                    }
                }
            }

            .gnb-training {
                position: relative;

                .gnb-sub {
                    max-height: 0;
                    overflow: hidden;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 49px;
                    transition: max-height 300ms;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .gnb-sub-item {
                        a {
                            display: block;
                            padding: 10px;
                            background: rgba($color: #222, $alpha: 0.5);
                            width: 80px;
                            text-align: center;
                            transition: all 300ms;
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-family: 'Pretendard-Regular';
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: -0.3px;
                        }

                        &:hover {
                            a {
                                background: #fff;
                                color: #222;
                                font-family: 'Pretendard-SemiBold';
                            }
                        }
                    }
                }

                &:hover {
                    .gnb-sub {
                        max-height: 500px;
                    }
                }
            }
        }

        .login-link {
            display: flex;
            align-items: center;

            a {
                color: #fff;
                font-family: 'Pretendard-SemiBold';
                font-size: 16px;
                font-weight: 600;
                line-height: 160%; /* 25.6px */
                letter-spacing: -0.32px;
            }
            .line {
                width: 1px;
                height: 10px;
                background: rgba($color: #fff, $alpha: 0.2);
                margin: 0 14px;
            }
        }
    }
}