@use "common";
@use "font";

.inner {
    width: 100%;
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba($color: #000000, $alpha: 0.2);

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100%;
            max-width: 137px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav {
            .gnb {
                display: flex;
                gap: 40px;
                height: 80px;
                align-items: center;
            }
            .gnb-item {
                a {
                    color: #fff;
                    font-family: 'Pretendard-SemiBold';
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    transition: all 300ms;
                }

                &:hover {
                    a {
                        color: #E5FF00;
                        font-family: 'Pretendard-ExtraBold';
                    }
                }
            }

            .gnb-training {
                position: relative;

                .gnb-sub {
                    max-height: 0;
                    overflow: hidden;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 49px;
                    transition: max-height 300ms;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .gnb-sub-item {
                        a {
                            display: block;
                            padding: 10px;
                            background: rgba($color: #222, $alpha: 0.5);
                            width: 80px;
                            text-align: center;
                            transition: all 300ms;
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-family: 'Pretendard-Regular';
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: -0.3px;
                        }

                        &:hover {
                            a {
                                background: #fff;
                                color: #222;
                                font-family: 'Pretendard-SemiBold';
                            }
                        }
                    }
                }

                &:hover {
                    .gnb-sub {
                        max-height: 500px;
                    }
                }
            }
        }

        .login-link {
            display: flex;
            align-items: center;

            a {
                color: #fff;
                font-family: 'Pretendard-SemiBold';
                font-size: 16px;
                font-weight: 600;
                line-height: 160%; /* 25.6px */
                letter-spacing: -0.32px;
            }
            .line {
                width: 1px;
                height: 10px;
                background: rgba($color: #fff, $alpha: 0.2);
                margin: 0 14px;
            }
        }
    }
}

/* main_visual */
.main_visual {
    .text-box {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        .text-box-inner {
            width: 100%;
            max-width: 1248px;
            padding: 0 24px;
            margin: 0 auto;

            .text {
                span {
                    color: #fff;
                    font-family: "Elice DX Neolli";
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 180%; /* 43.2px */
                    letter-spacing: -0.48px;
                    display: block;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 8px;
                    }
                }
                p {
                    color: #fff;
                    font-family: "Elice DX Neolli";
                    font-size: 51px;
                    font-weight: 700;
                    line-height: 180%; /* 91.8px */
                    letter-spacing: -1.02px;
                }
            }

            .slide-link {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                padding: 14px 26px;
                background: #fff;
                margin-top: 25px;

                .button-text {
                    color: #0657CE;
                    font-family: 'Pretendard-Bold';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 180%; /* 32.4px */
                    letter-spacing: -0.36px;
                }
                img {
                    display: block;
                }
            }
        }
    }
}

/* section normal */
.title-area {
    text-align: center;

    .title {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        img {
            display: inline-block;
        }
        span {
            color: #222;
            font-family: 'Pretendard-Bold';
            font-size: 40px;
            font-weight: 700;
            line-height: 140%; /* 56px */
            letter-spacing: -0.8px;
        }
    }
    .title-text {
        color: #777;
        font-family: 'Pretendard-Medium';
        font-size: 22px;
        font-weight: 500;
        line-height: 140%; /* 30.8px */
        letter-spacing: -0.44px;

        margin-top: 10px;
    }
}

/* section01 */
.section01 {
    background: #fff;

    .content {
        padding: 170px 0 193px;
    }
    .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;

        margin: 46px 0 40px;
    }
    .tab {
        width: 100%;
        max-width: 136px;
        padding: 6px;

        background: url(../img/home/tab-bg.png) no-repeat;
        background-size: 100% 100%;

        text-align: center;
        color: #96A7BD;
        font-family: 'Pretendard-Bold';
        font-size: 20px;
        font-weight: 700;
        line-height: 160%;

        cursor: pointer;
    }
    .tab.active {
        background: url(../img/home/tab-bg-active.png) no-repeat;
        background-size: 100% 100%;

        color: #fff;
    }

    .tab-cont {
        display: none;
    }
    .tab-cont.active {
        display: block;
    }

    .notice-area {
        padding: 40px 102px;
        background: #fff;
        width: 100%;
        border-radius: 12px;
        border: 1px solid #f5f5f5;
        box-shadow: 0 0 32.5px rgba($color: #000000, $alpha: 0.09);
    }
    .notice-list-item:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    .notice-list-link {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        padding: 24px 0;

        > img {
            width: 100%;
            max-width: 79px;
            display: block;
        }
    }
    .notice-category {
        color: #222;
        font-family: 'Pretendard-Bold';
        font-size: 16px;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        letter-spacing: -0.32px;
    }
    .notice-title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        gap: 8px;

        .text {
            white-space: nowrap;

            color: #222;
            font-family: 'Pretendard-Regular';
            font-size: 18px;
            font-weight: 400;
            line-height: 160%; /* 28.8px */
            letter-spacing: -0.36px;

            overflow: hidden;
            text-overflow: ellipsis;
        }
        .notice-badge {
            width: 22px;
            height: 22px;
        }
    }
    .notice-date {
        color: #777;
        font-family: 'Pretendard-Regular';
        font-size: 18px;
        font-weight: 400;
        line-height: 160%; /* 28.8px */
        letter-spacing: -0.36px;
    }
}