/* 사파리 input아이콘 초기화 */
@supports (-webkit-appearance:none) {
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
/*main*/
#main {
    padding-top: 80px;
}

fieldset {
    border: none;  /* 테두리 제거 */
    padding: 0;    /* 패딩 제거 */
    margin: 0;     /* 마진 제거 */
}
/*html : my info >> 내 정보*/
.myInfo_wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 6vw;
    margin-bottom: 238px;
    text-align: center;
}
.myInfo_wrap > h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.36px;
}
.myInfo_wrap .profile {
    margin-top: 66px;
    position: relative;
}
.profile .my_img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #90909065;
}
.my_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    float: left;
}
.profile .name {
    display: block;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.36px;
}
.myInfo_wrap .btn_wrap {
    margin-top: 62px;
}
.btn_wrap button {
    display: block;
    width: 100%;
    padding: 23px 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    background: #F2F2F2;
    border: 1px solid #E9EBED;
    border-radius: 7px;
    letter-spacing: -0.36px;
    transition: all 0.1s linear;
    box-shadow: 1px 1px 6px #00000010;
}
.btn_wrap button:hover {
    background: #004BBA;
    color: #fff;
    border-color: #004BBA;
}

/*html : my info - edit >> 내 정보 수정*/
.profile .editBtn {
    width: 95px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.editBtn button {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    box-shadow: 0px 2px 5px #00000025;
}
.editBtn button img {
    vertical-align: -4px;
    margin-right: 2px;
}
.editBtn input[type="file"] {
    display: none;
}
.myInfo_wrap .input_wrap {
    margin-top: 52px;
}
.input_wrap .input_container {
    margin-bottom: 16px;
    text-align: left;
}
.input_wrap label.input_title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    letter-spacing: -0.36px;
}
.input_wrap .input_container input {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #E9EBED;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    letter-spacing: -0.36px;
    border-radius: 7px;
}
.input_wrap .input_container input:focus {
    outline: none;
}
.input_wrap .input_container input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}
button.finishBtn {
    border-color: #004BBA;
    background: #004BBA;
    color: #fff;
}


/*hrml: login >> 내 정보 로그인*/
.input_wrap label.input_title {
    display: block;
    margin-bottom: 8px;
}
.input_wrap .password_container {
    position: relative;
}
.password_container .eyeBtn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}
.keep_login {
    width: fit-content;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.36px;
    color: #999;
}
.keep_login input[type="checkbox"] {
    display: none;
}
.keep_login input[type="checkbox"]:checked + label span.checkBox rect {
    fill: #0A387C; 
}
label[for="keepLogin"] {
    cursor: pointer;
}
.keep_login span.checkBox {
    display: inline-block;
    vertical-align: -5px;
    margin-right: 9px;
    cursor: pointer;
}
button.loginBtn {
    padding: 18px 0;
}
ul.user_account {
    margin-top: 30px;
}
ul.user_account li {
    display: inline-block;
}
ul.user_account li:first-child::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #EEEEEE;
    margin: 0 10px;
}
ul.user_account a{
    font-size: 16px;
    color: #777;
    font-weight: 500;
    letter-spacing: -0.36px;
}


/*hrml: my info - history  >> 내 신청 내역*/
.myHistory_wrap {
    max-width: 588px !important;
    padding-bottom: 442px;
}
/*탭 부분*/
.tabBtn_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: 66px;
}
.tabBtn_wrap > button {
    width: 50%;
    padding: 12px 0;
    float: left;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    color: #222;
}
.historyFocus {
    border-bottom: 2px solid #000;
}
.historyNone {
    border: none;
}
/*프로그램 신청 내역*/
.element_wrap {
    width: 100%;
    height: 144px;
    position: relative;
}
.history_element {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.history_element > div {
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
.program_element > div {
    width: calc(100% / 3);
}
.plant_element > .reservation{
    width: 46%;
}
.plant_element > .step,.status{
    width: 27%;
}
h4.historyName {
    height: 48px;
    line-height: 48px;
    color: #224F5B;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.36px;
    background: #ddd;
}
.history_element li {
    height: 48px;
    line-height: 48px;
    padding: 0 4px;
    box-sizing: border-box;
    background: #FAFAFA;
    font-size: 16px;
    color: #222;
    letter-spacing: -0.36px;
}
.status li {
    color: #007AFF;
}


/*resize*/
@media (max-width: 834px) {
    .myInfo_wrap {
        margin-top: 70px;
    }
    .myHistory_wrap {
        padding-bottom: 356px;
    }
}
@media (max-width: 522px) {
    /*html : myInfo - history*/
    .program_element > .program {
        width: 52%;
    }
    .program_element > .generation {
        width: 24%;
    }
    .program_element > .status {
        width: 24%;
    }
    .plant_element > .reservation {
        width: 56%;
        box-sizing: border-box;
    }
    .plant_element > .step {
        width: 20%;
    }
    .plant_element > .status {
        width: 24%;
    }
}
@media (max-width: 390px) {
    .myInfo_wrap {
        margin-bottom: 120px;
    }
    .history_element li {
        font-size: 14px;
    }
}