/*main*/
#main {
    padding-top: 80px;
}

/*html : my info >> 내 정보*/
.myInfo_wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 6vw;
    margin-bottom: 238px;
    text-align: center;
}
.myInfo_wrap > h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.36px;
}
.myInfo_wrap .profile {
    margin-top: 66px;
    position: relative;
}
.profile .my_img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #90909065;
}
.my_img img {
    width: 100%;
    height: 100%;
    float: left;
}
.profile .name {
    display: block;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.36px;
}
.myInfo_wrap .btn_wrap {
    margin-top: 62px;
}
.btn_wrap button {
    display: block;
    width: 100%;
    padding: 23px 0;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    background: #F2F2F2;
    border: 1px solid #E9EBED;
    border-radius: 7px;
    letter-spacing: -0.36px;
    transition: all 0.1s linear;
    box-shadow: 1px 1px 6px #00000010;
}
.btn_wrap button:hover {
    background: #004BBA;
    color: #fff;
    border-color: #004BBA;
}

/*html : my info - edit >> 내 정보 수정*/
.profile .img_changeBtn {
    width: 95px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.img_changeBtn button {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    box-shadow: 0px 2px 5px #00000025;
}
.img_changeBtn button img {
    vertical-align: -4px;
    margin-right: 2px;
}
.myInfo_wrap .input_wrap {
    margin-top: 52px;
}
.input_wrap ul {
    margin-bottom: 16px;
    text-align: left;
}
.input_wrap ul li.input_title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #777;
    letter-spacing: -0.36px;
}
.input_wrap ul li input {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #E9EBED;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    letter-spacing: -0.36px;
    border-radius: 7px;
}
.input_wrap ul li input:focus {
    outline: none;
}
.input_wrap ul li input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}
button.editBtn {
    border-color: #004BBA;
    background: #004BBA;
    color: #fff;
}






/*resize*/
@media (max-width: 834px) {
    .myInfo_wrap {
        margin-top: 70px;
    }
    .btn_wrap button:not(.editBtn) {
        background: #FFFFFF;
        color: #222;
        border: 1px solid #E9EBED;
    }
    .footer {
        background: #0A387C;
    }
    .footer a {
        color: #c5c5c5;
    }
    .footer .content {
        padding: 38px 0;
    }
    .footer .footer-logo {
        display: none;
    }
    .footer .footer-info01 .partner-site .text {
        color: #c5c5c5;
    }
    .footer .footer-info01 .support-links {
        display: none;
    }
    .footer .footer-info01 {
        margin-top: 0;
    }
    .footer .footer-info02 .company-info .info {
        color: #c5c5c5;
    }
    .footer .footer-info02 .copyright {
        color: #c5c5c5;
    }
}
@media (max-width: 390px) {
    .myInfo_wrap {
        margin-bottom: 120px;
    }
}