#main {
    padding-top: 80px;
}
fieldset {
    border: none;  
    padding: 0;   
    margin: 0;    
}
.pw_wrap {
    width: 100%;
    max-width: 636px;
    margin: 0 auto;
    margin-top: 6vw;
    margin-bottom: 238px;
    text-align: center;
}
.pw_wrap > h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.36px;
    margin-bottom: 80px;
}
.bg {
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 50px;
}
.input_wrap h4 {
    text-align: left;
    line-height: 1.5;
}
.input_wrap .input_container {
    margin-top: 20px;
}
.input_wrap .input_container input {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    border: 1px solid #E9EBED;
    background: #fff;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    letter-spacing: -0.36px;
    border-radius: 7px;
}
.input_wrap .input_container input:focus {
    outline: none;
}
.input_wrap .input_container input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}
.input_container .flex-box {
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap : 10px;
    margin-bottom: 10px;
}
.numbtn {
    width: 50% !important;
    color: #074F99;
    background-color: #E6EDF5;
    padding: 15px;
}
.btn_wrap button {
    display: block;
    padding: 23px 0;
    margin-bottom: 12px;
    border-color: #074F99;
    background: #074F99;
    padding: 18px 0;
    color: #fff;
    margin-top: 62px;
}
button.nextBtn {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: -0.36px;
}
ul.user_account {
    margin-top: 30px;
}
ul.user_account li {
    text-align: right;
}
ul.user_account a{
    font-size: 16px;
    color: #777;
    font-weight: 500;
    letter-spacing: -0.36px;
}




/*resize*/
@media (max-width: 834px) {
    .pw_wrap {
        margin-top: 70px;
    }
    .myHistory_wrap {
        padding-bottom: 356px;
    }
}
@media (max-width: 576px) {
    .input_container .flex-box {
        flex-wrap: wrap;
    }
    .numbtn {
        width: 100% !important;
    }
}
