#main {
    padding-top: 80px;
}
fieldset {
    border: none;  
    padding: 0;   
    margin: 0;    
}
.id_wrap {
    width: 100%;
    max-width: 636px;
    margin: 0 auto;
    margin-top: 6vw;
    margin-bottom: 238px;
    text-align: center;
}
.id_wrap > h3 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.36px;
    margin-bottom: 80px;
}
.bg {
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 50px;
    padding: 50px;
}
.input_wrap h4 {
    line-height: 1.5;
}

.btn_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    gap : 50px;
}
.btn_wrap button {
    display: block;
    margin-bottom: 12px;
    border-color: #074F99;
    background: #074F99;
    padding: 10px 0;
    color: #fff;
    margin-top: 62px;
    width: 172px !important;
}
.nextBtn {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    letter-spacing: -0.36px;
}



/*resize*/
@media (max-width: 834px) {
    .id_wrap {
        margin-top: 70px;
    }
    .myHistory_wrap {
        padding-bottom: 356px;
    }
}
@media (max-width: 576px) {
    .input_wrap h4 {
        text-align: center;
    }
    .btn_wrap {
        flex-wrap: wrap;
        gap: 0px !important;
    }
    .btn_wrap button {
        padding: 10px 0;
        width: 100% !important;
    }
    .btn_wrap button {
        margin-top: 10px;
    }
    .btn_wrap {
        margin-top: 62px;
    }
    .br {
        display: block;
    }
}
