@charset "UTF-8";
.fs-18 { font-size: 18px !important; }
.fw-6 { font-weight: 600px; }
.mt-4 { margin-top: 4px !important; }
.mt-18 { margin-top: 18px; }
.mt-25 { margin-top: 25px !important; }
.mt-50 { margin-top: 50px; }
.mt-65 { margin-top: 65px !important; }
.mb-150 { margin-bottom: 150px; }
.mr-40 { margin-right: 40px; }
.w-486 { max-width: 486px !important; width: 100%; }
.w-180 { max-width: 180px; width: 100%; }
.t-c { text-align: center; }
div.br { display: inline; }
h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.red { color: #E72929;}

main.register {
    width: 100%;
    padding: 0 20px;
}
main.register .register-containner {
    margin: 0 auto;
}
.tabs {
    max-width: 792px;
    margin: 50px auto;
}
.tab-titles {
    width: 180px;
    margin: auto;
    display: flex;
    gap: 6px;
}
.tab-titles li {
    width: 56px;
    height: 5px;
    background: #EAEAEA;
    border-radius: 5px;
}
.tab-titles li.active {
    background-color: #007AFF;
}

/* 여기서부터 탭 컨텐츠 부분 */
.tab-pane {
    display: none;
}
.tab-pane>p {
    font-size: 16px;
    font-weight: 500;
    color: #777;
    line-height: 1.6;
    margin-top: 8px;
    text-align: center;
}
.tab-pane.active {
    display: block;
}
.terms-content {
    height: 242px;
    max-width: 792px;
    overflow-y: auto;
    background: #F3F5F6;
    padding: 30px 25px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
fieldset {
    border: none;
    margin-top: 30px;
}

/* 체크박스 커스텀 */
.keep_agree input[type="checkbox"] {
    display: none;
}
.keep_agree input[type="checkbox"]:checked + label span.checkBox rect {
    fill: #0A387C; 
}
.keep_agree span.checkBox {
    display: inline-block;
    vertical-align: -5px;
    margin-right: 9px;
    cursor: pointer;
}
.keep_agree label {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 4px;
}
.terms-content p {
    color: #444;
    font-weight: 400;
    line-height: 1.6;
}
.tab-content .tab-pane .btn-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 200px;
}
.btn-box button, .tab-pane button {
    max-width: 384px;
    width: 100%;
    height: 62px;
    padding: 10px 100px;
    background-color: #F3F5F6;
    color: #777;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid #E9EBED;
    border-radius: 7px;
}
.tab-content button.r-btn {
    background-color: #004BBA;
    color: #fff;
}

/* 두번째 탭 컨텐츠 */
 .profile {
    margin-top: 66px;
    position: relative;
}
    /* 여기서부터 이미지 편집 */
.profile .my_img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #90909065;
}
.my_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    float: left;
}
.profile .name {
    display: block;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.36px;
}
.profile .editBtn {
    width: 95px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.editBtn button {
    width: 100%;
    height: 40px;
    padding: 8px 0;
    background: #fff;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;
    box-shadow: 0px 2px 5px #00000025;
    color: #222;
}
.editBtn button img {
    vertical-align: -4px;
    margin-right: 2px;
}
.editBtn input[type="file"] {
    display: none;
} /* 여기까지 이미지 편집 */

#personal-info-form {
    max-width: 486px;
    width: 100%;
    margin: auto;
}
#personal-info-form label{
    display: block;
    color: #222;
}
#personal-info-form .border {
    max-width: 486px;
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #E9EBED;
    font-size: 18px;
    color: #222;
    font-weight: 400;
    padding: 15px;
    margin-top: 10px;
}
input[type='radio'] {
    margin-right: 8px;
}
    /* 기본스타일 제거, 버튼 모양 재설정 */
input[type='radio'] {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 13px;
  height: 13px;
  border: 1px solid #ccc; 
  border-radius: 50%;
  outline: none; 
  cursor: pointer;
}
    /* 체크 시 버튼 모양 스타일 */
input[type='radio']:checked {
  background-color: #004BBA; /* 체크 시 내부 원 색상 */
  border: 3px solid #fff; /* 라인이 아닌, 라인과 원 사이 색상 */
  box-shadow: 0 0 0 1px #004BBA; /* 라인 */
}
    /* 주소 */
.el_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: unset;
    border: unset;
    padding: 10px;
    background: #333333;
    border-radius: 5px;
    color: #ffffff;
    width: fit-content;
    word-break: keep-all;
  }
.el_input::placeholder {
    color: #d4d4d4;
  }
.el_input:disabled {
    background-color: #f0f0f0;
  }
.bl_stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.bl_stack--row {
    flex-direction: row;
  }
.bl_stack button {
    max-width: 150px;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    background-color: #fff;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    border-color: #222;
}
.bl_stack button img {
    margin-left: 10px;
}
    /* 생년월일 */
.info#info__birth {
    display: flex;
    gap: 4px;
  }
  /* select 커스텀 */
select {
    /* select 기본 스타일 제거 */
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    /*화살표 배경 넣기*/
    background: #fff url('../img/home/register-arrow.png') no-repeat 95% center;
    }
    /* 익스플로러 select 화살표 제거 */
    select::-ms-expand{
    /* 화살표 없애기 for IE10, 11*/ 
    display:none;
    }
.info#info__birth select {
    width: 159px;
    height: 50px;
    border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #E9EBED;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
}/* 생년월일 끝 */

/* 세번째 탭 컨텐츠 */
.tab-content div.t-c img {
    margin: 50px 0;
}
#next-btn-third {
   padding: 0; 
}

@media (max-width: 424px) {
    span.br{
        display: block;
    }
    div.br{
        display: inline-block;
        width: 33px;
        height: 5px;
    }    
}