@charset "UTF-8";
.fs-18 { font-size: 18px; }
.mt-4 { margin-top: 4px !important; }
.mt-16 { margin-top: 16px; }
.mt-25 { margin-top: 25px; }
.mt-50 { margin-top: 50px; }
.mr-40 { margin-right: 40px; }
.w-486 { width: 486px !important; }
.w-180 { width: 180px !important; }
h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.red { color: #E72929;}

main.register {
    width: 100%;
    padding: 0 20px;
}
main.register .register-containner {
    /* max-width: 792px;
    padding: 0 24px; */
    margin: 0 auto;
}
.tabs {
    max-width: 792px;
    margin: 50px auto;
}
.tab-titles {
    width: 180px;
    margin: auto;
    display: flex;
    gap: 6px;
}
.tab-titles li {
    width: 56px;
    height: 5px;
    background: #EAEAEA;
    border-radius: 5px;
}
.tab-titles li.active {
    background-color: #007AFF;
}

/* 여기서부터 탭 컨텐츠 부분 */
.tab-content {
    /* padding: 20px; */
}
.tab-pane {
    display: none;
}
.tab-pane>p {
    font-size: 16px;
    font-weight: 500;
    color: #777;
    letter-spacing: -2px;
    line-height: 1.6;
    margin-top: 8px;
    text-align: center;
}
.tab-pane.active {
    display: block;
}
.terms-content {
    height: 242px;
    max-width: 792px;
    overflow-y: auto;
    background: #F3F5F6;
    padding: 30px 25px;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
label {
    display: block;
    margin-top: 10px;
}
label input {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
label:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}
.terms-content p {
    color: #444;
    font-weight: 400;
    line-height: 1.6;
}
.tab-content .tab-pane .btn-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 200px;
}
.btn-box button, button {
    width: 384px;
    height: 62px;
    padding: 10px 100px;
    background-color: #F3F5F6;
    color: #777;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid #E9EBED;
    border-radius: 7px;
}
.tab-content button.r-btn {
    background-color: #004BBA;
    color: #fff;
}
button:disabled {
    /* background-color: #004BBA; */
    /* cursor: not-allowed; */
}



/* 두번째 탭 컨텐츠 */
#personal-info-form .border {
    width: 486px;
    height: 50px;
    border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #E9EBED;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 15px;
    margin-top: 10px;
}
    /* 생년월일 */
.info#info__birth {
    display: flex;
    gap: 4px;
  }
  
  .info#info__birth select {
    width: 159px;
    height: 50px;
    border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #E9EBED;
    font-size: 18px;
    color: #777;
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
  }
  
  .info#info__birth select:first-child {
    margin-left : 0px;
  }
    /* select의 스크롤 바 커스텀 */
  .info#info__birth select::-webkit-scrollbar {
    width: 10px;
  }
  
  .info#info__birth select::-webkit-scrollbar-thumb {
    background-color: #b6b6b6;
    border-radius: 3px;
  }
  
  .info#info__birth select::-webkit-scrollbar-track {
    background-color: #ebe9e9;
    border-radius: 6px;
  }
  /* 생년월일 끝 */





/* 세번째 탭 컨텐츠 */